<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Database.MongoDB.ConnectionString" value="mongodb://w002jbn0c:27017" />
    <add key="Database.MongoDB.Host" value="127.0.0.1" />
    <add key="Database.MongoDB.Port" value="27017" />
    <add key="Database.MongoDB.DatabaseName" value="myDb" />
    <add key="Database.MongoDB.UserName" value="" />
    <add key="Database.MongoDB.Password" value="" />
    <add key="BaseData.FundCount" value="600" />
    <add key="Database.MongoDB.Password" value="" />
    <add key="Database.MongoDB.Password" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FundsToProcess" value="10" />
    <add key="FundsToIgnore" value="240" />
    <!--<add key="FundsToPopulate" value="1223,1067,1064,949,893" />-->
    <!--<add key="FundsToPopulate" value="297,296,295,294,293,292,291,290,289,288,287,286,285,284,283,282,263,262,261,260,259,258,257,256,255" />-->
    <add key="FundsToPopulate" value="612" />
    <add key="IsASCSort" value="false" />
  </appSettings>
  <log4net debug="true">
    <appender name="RollingFileAppenderXML" type="log4net.Appender.RollingFileAppender">
      <!--<file type="log4net.Util.PatternString" value="\\w002jbn0c\D$\Logs\SampleAttributionProject\FetchPerformance\With Date Range\GroupingLog\\ComparisonOfVariousGroupings" />-->
      <file type="log4net.Util.PatternString" value="\\w002jbn0c\D$\Logs\SampleAttributionProject\DataPopulation\AttributionLog_07_03_2018" />
      <appendToFile value="True" />
      <datePattern value="yyyy-MM-dd hh_mm_ss'.xml'" />
      <rollingStyle value="Once" />
      <maximumFileSize value="50MB" />
      <maxSizeRollBackups value="-1" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingFileAppenderXML" />
    </root>
  </log4net>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>