<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ServiceName" value="Akka.Cluster.API.Service" />
    <add key="ServiceDescription" value="Self hosted Akka.Cluster Web API service" />
    <add key="ServiceDisplayName" value="Akka.Cluster.API.Service" />
    <add key="ServiceSelfHostAddress" value="http://localhost:7777" />
    <add key="ActorSystemName" value="AkkaClusterSystem" />
  </appSettings>
  
  <akka>
    <hocon>
      <![CDATA[
          akka {
        
              actor {
                  provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            
                  deployment {
                  
                      /requestHandlerActor {
                          router = round-robin-group
                          routees.paths = ["/user/requestHandlerActor"]
                          nr-of-instances = 100
                          cluster { 
											      enabled = on
											      allow-local-routees = off
											      #max-nr-of-instances-per-node = 3
											      use-role = Worker
									        } #cluster
                       } #requestHandlerActor
                       
                  } #deployment
                     
              } #actor

              remote {
                  log-remote-lifecycle-events = DEBUG
                  dot-netty.tcp {
                      transport-class = "Akka.Remote.Transport.DotNetty.TcpTransport, Akka.Remote"
                      applied-adapters = []
                      transport-protocol = tcp
                      #public-hostname = "POPULATE STATIC IP HERE"
                      hostname = "192.168.3.2" #"127.0.0.1"
                      port = 2222
                  }
              } #remote            

              cluster {
                #seed-nodes = ["akka.tcp://AkkaClusterSystem@127.0.0.1:4053"] 
                seed-nodes = ["akka.tcp://AkkaClusterSystem@192.168.3.2:4053"] 
                roles = ["API"]
              } #cluster
            
          } #akka
      ]]>
    </hocon>
  </akka>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
